<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/about.css" />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  </head>
  <body onload="includeHTML()">
    <!-- second page -->
     <div class="container-fluid p-0">

      <div include-html="/templates/navbar.html" class="navbar_continer"></div>

      <div class="row about_page ">
        <!-- <div class="col-12 col-lg-12 col-sm-12 col-md-12 "> -->
          <div class="row about_page_title_cont ">
            <h1 class="about_page_title">Affordable Pricing, Uncompromising Quality</h1>
          </div>
        <!-- </div> -->

        <div class="row about_page_cont_container">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-4">
            <div class="pricing_container">
              <h2 class="pricing_title">Transparent Pricing</h2>
              <p class="pricing_content">Our pricing structure is 
                straightforward and tailored to your 
                budget. No hidden fees or surprises 
                – just reliable, high-quality services 
                at a price that works for you.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-4">
            <div class="solutions_container">
              <h2 class="solutions_title">
                Custom Solutions
              </h2>
              <p class="solutions_content">We understand that every business 
                business is unique. That's why we 
                we offer fully customizable web 
                solutions to ensure your online 
                presence is a perfect fit for your 
                needs.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-4">
            <div class="value_container">
              <h2 class="value_title">Exceptional Value</h2>
              <p class="value_content">Our combination of affordable 
                pricing and unparalleled expertise 
                delivers exceptional value that will 
                elevate your business and help you 
                stand out from the competition.
              </p>
            </div>
          </div>

        </div>
       
      </div>
        <!-- second section -->
        <div class="row our_impact">
          <div class="our_impact_container col-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row our_impact_cont">
              <h3>Our Impact</h3>
              <p>
                Every innovation that happens here is out of a quest to get better at what we are already doing.
                We deliver ideas that make a difference,
                create experiences that transform lives and build ecosystems that foster progress.
              </p>
            </div>
          </div>
          <div class="row our_impact_sec_cont mt-4">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="row impact1">
                <h3>700+</h3>
                <p>Projects launched successfully across the globe</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="row impact2">
                <h3>10M</h3>
                <p>Daily customer engagement through our projects</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="row impact3">
                <h3>100+</h3>
                <p>Digital transformation stories that made a difference</p>
              </div>
            </div>
          </div>
       </div>



       <!-- third section -->
      <div class="row aboutus_ourstory">
        <div class="col-lg-4 col-md-4 col-12 col-sm-12 mb-4">
          <div class="row aboutus_ourstory_container">
            <h2 class="aboutus_ourstory_title">Big Dreams, <br>
              Bigger Numbers
            </h2>
            <p class="aboutus_ourstory_content">We are moving ahead with relentless energy to achieve amazing results that speak volumes. We don't intend to slow down either!</p>
          </div>
        </div>

        <div class="col-lg-8 col-md-8 col-12 col-sm-12 mb-4 project_col">
         <div class="row project_container">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-2">
           <div class="row Success">
            <h3>600+</h3>
            <p>Success Stories</p>
           </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-2">
            <div class="row clients">
              <h3>450+</h3>
              <p>International Clients</p>
             </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-2">
            <div class="row country ">
              <h3>35+</h3>
              <p>Countries</p>
             </div>
          </div>
         </div>
        </div>
      </div>
      
     
     </div>
   

    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/controller.js"></script>
  </body>
</html>
