<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/career.css">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
/>
</head>
<body onload="includeHTML()">
    <div class="container-fluid p-0">
         <!-- navbar -->
         <div include-html="/templates/navbar.html" class="navbar_continer"></div>

        <div class="row career_container">
            <div class="row image_title_cont">
                <h1>Let Our Team <br>
                    Be Your New Team</h1>
                    <p>We always strive to make a positive difference in everything. 
                    If that’s important to you; Webandcrafts would be a good fit</p>
            </div>
        </div>

        <div class="row career_content_sec">
           <div class="row career_content_title">
              <h2>Life@Brands</h2>
              <p>A place where you can realise your full potential, nurture your dreams, <br> and 
                 follow your passion! All of that with a daily dose of fun and laughter</p>
           </div>
        </div>
        <!-- images -->
         <div class="row career_img_section">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 mb-1">
                <div class="row first_img">
                    <img src="/static/images/groupphoto.jpg" alt="groupphoto" class="groupphoto">
                </div>
                
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-12 mb-1">
                <div class="row first_img">
                    <img src="/static/images/events.jpg" alt="events" class="events" >
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-12 mb-1">
                <div class="row first_img">
                    <img src="/static/images/event2.jpg" alt="event2" class="event2" >
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-12 mb-1">
                <div class="row first_img">
                    <img src="/static/images/officesports.jpg" alt="officesports" class="officesports" >
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-12 mb-1">
                <div class="row second_img">
                    <img src="/static/images/officesport2.jpg" alt="officesport2" class="officesport2" >
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-1">
                <div class="row second_img">
                    <img src="/static/images/officesport2.jpg" alt="officesport2" class="officesport2" >
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-12 mb-1">
                <div class="row second_img">
                    <img src="/static/images/officesport2.jpg" alt="officesport2" class="officesport2" >
                </div>
            </div>
         </div>

         <!-- opportunities -->
          <div class="row oppertunity">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-1">
                <div class="row growth_cont">
                    <h3>growth Opportunities</h3>
                    <p>Keeping our employees growing and prospering is our goal at Webandcrafts, as we believe learning
                         never stops and there is always an opportunity to better ourselves.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-1">
                <div class="row growth_cont">
                    <h3>Competitive Remuneration</h3>
                    <p>We recognise the value of our employees' contributions and are committed to rewarding
                     them accordingly, ensuring their continued growth and satisfaction within our organisation.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-1">
                <div class="row growth_cont">
                    <h3>Eco-friendly Workplace</h3>
                    <p>Being surrounded by beautiful trees and nature enhances employees' mental wellbeing and we strive 
                    to reduce our carbon footprint in a green environment.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-1">
                <div class="row sec_row_cont">
                    <h3>An Instagram-worthy Fun Work Environment</h3>
                    <p>Our office space is designed in such a way that it will be a sure-fire Instagram hit 
                    on any given day, and our employees can absorb all that positive energy into their productivity.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-1">
                <div class="row sec_row_cont">
                    <h3>Health Insurance and Wellness Packages</h3>
                    <p>The health of our employees is of the utmost importance, and we ensure that
                         they receive the best medical care in the event of an emergency and for their general well-being.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-1">
                <div class="row sec_row_cont">
                    <h3>Talent Nurturing Community</h3>
                    <p>In addition to helping our employees set career goals, we also uncover and develop other hidden talents,
                     giving them the courage to venture out, try new things, and make a difference in the world.</p>
                </div>
            </div>


          </div>

          <div class="row contactus_link">
            <a href="/templates/contact.html">Contact Us</a>
          </div>
    </div>







    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/controller.js"></script>
</body>
</html>