<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/services.css">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
    />
</head>
<body onload="includeHTML()">
    <div class="container-fluid p-0">
        <div include-html="/templates/navbar.html" class="navbar_continer"></div>

        <div class="row services_img">
            <div class="row  services_head_title">
                <h1>Crafting Experiences <br/> That Evoke Emotions</h1>
                <p>CWe don't claim to do everything under the sun; but we do know the A to Z of how 
                     <br>to design, build, and market.</p>
            </div>
        </div>
        <div class="row service_cont_container">
            <!-- content 1 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row content_section">
                    <h2>Experience Design</h2>
                    <p>UI/UX Design /Website Design /Mobile Experience /Commerce Experience /Human Machine Interface (HMI) /Applications and Dashboards /Wearable App Design /Cross-Platform Experience Design /Design Support and Maintenance</p>
                </div>
            </div>
            <!-- img -->
             <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row image_container">
                    <img src="/static/images/developmentProcess.png" alt="developmentProcess">
                </div>
             </div>
        </div>

        <div class="row technology_cont_container">
              <!-- content2 -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row image_container">
                    <img src="/static/images/technology.jpg" alt="technology">
                </div>
                
            </div>
            <!-- img -->
             <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row content_section">
                    <h2>Technology</h2>
                    <p>DevOps Consulting /Data & Analytics /AI & Machine Learning /Web Development /Mobile App Development /E-commerce /Quality Assurance & Testing /Cloud Services /Cyber Security</p>
                </div>
             </div>
        </div>

        <!-- 3 -->
         <div class="row digi_mark_cont_container">

             <!-- content 1 -->
             <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row content_section">
                    <h2>Digital Marketing</h2>
                    <p>Social Media Management /Performance Marketing /Search Engine Optimisation 
                        /Content Marketing /Marketing Automation /Analytics</p>
                </div>
            </div>
            <!-- img -->
             <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row image_container">
                    <img src="/static/images/marketing.jpg" alt="marketing">
                </div>
             </div>
         </div>
         <!-- 4 -->
          <div class="row branding_container">
              <!-- content2 -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row image_container">
                    <img src="/static/images/branding.jpg" alt="branding">
                </div>
                
            </div>
            <!-- img -->
             <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row content_section">
                    <h2>Branding</h2>
                    <p>Brand Consulting /Logo Design /Brand Collateral /Graphic Design /2D /
                        3D Visualisation /Brand Identity /Industrial Product Design</p>
                </div>
             </div>
          </div>
          <!-- link -->
           <div class="row link_container">
                <a href="/templates/testimonial.html">Testimonials</a>
           </div>
    </div>




    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/controller.js"></script>
</body>
</html>